version: 1
name: {{ .project_name | quote }}
key: {{ .project_key | quote }}
description: {{ .description | quote }}
owner: {{ .owner | quote }}
repo: {{ .repo_url | quote }}
template:
  repo: {{ .template.repo | quote }}
  ref: {{ .template.ref | quote }}
  version: {{ .template.version | quote }}
  applied: {{ .now }}
layout:
  design: {{ .layout.design }}
  docs: {{ .layout.docs }}
  wip: {{ .layout.wip }}
projects: []
dashboard:
  image: ghcr.io/bytepunx/flaiover
  tag: latest
  port: 4242
